{% extends 'quiz/index.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'quiz/css/categories.css' %}">
{% endblock %}

{% block title %}
<title>Quiz - Categories</title>
{% endblock %}

{% block content %}

<section class="categories-s">
	<div class="cards">
		<h3 class="title">quiz title</h3>
		<p class="details">quiz details Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus cumque ullam repudiandae tempore quaerat dolorum nihil? Explicabo tempore nisi recusandae quisquam minus soluta, assumenda consectetur placeat odit eos, rerum mollitia.</p>
		<img src="http://unsplash.it/200/200" alt="quiz-title">
	</div>
	<div class="cards">
		<h3 class="title">quiz title</h3>
		<p class="details">quiz details Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus cumque ullam repudiandae tempore quaerat dolorum nihil? Explicabo tempore nisi recusandae quisquam minus soluta, assumenda consectetur placeat odit eos, rerum mollitia.</p>
		<img src="http://unsplash.it/200/200" alt="quiz-title">
	</div>
	<div class="cards">
		<h3 class="title">quiz title</h3>
		<p class="details">quiz details Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus cumque ullam repudiandae tempore quaerat dolorum nihil? Explicabo tempore nisi recusandae quisquam minus soluta, assumenda consectetur placeat odit eos, rerum mollitia.</p>
		<img src="http://unsplash.it/200/200" alt="quiz-title">
	</div>
	<div class="cards">
		<h3 class="title">quiz title</h3>
		<p class="details">quiz details Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus cumque ullam repudiandae tempore quaerat dolorum nihil? Explicabo tempore nisi recusandae quisquam minus soluta, assumenda consectetur placeat odit eos, rerum mollitia.</p>
		<img src="http://unsplash.it/200/200" alt="quiz-title">
	</div>
</section>

{% endblock content %}