<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel="stylesheet" href="{% static 'quiz/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'quiz/css/utilities.css' %}">

	{% block css %}
	{% endblock %}

	{% block title %}
	{% endblock %}
</head>
<body>
	<section class="navbar-s brick">
		<nav class="navbar">
			<h3 class="brand">Fuzzy Quiz</h3>
			<ul class="u-lists">
				<li class="links"><a class="link-a" href="{% url 'home' %}">Home</a></li>
				<li class="links"><a class="link-a" href="">About</a></li>
			</ul>
		</nav>
	</section>

	{% block content %}
	{% endblock %}

	{% block javascript %}
	{% endblock %}

</body>
</html>

