.category-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}

.cards{
	padding: .5rem;
	margin: .5rem;
	background: white;
	border-radius: .5em;

}

.q-title{
	color: #1956c7;
	margin-bottom: 1rem;
}

.c-title{
	color: white;
	margin: .5rem;
}

.q-detail{
	margin: 1rem;
}


.cards{
	cursor: pointer;
	margin: 1rem .5rem;
}