@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
	--blue-500: #4f73df;
	--white-300: #f6f7fa;
	--black-400: #0D1117;
	--black-300: #333;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--white-300);	
	font-family: 'Roboto', sans-serif;
}

/* ===============navbar section==================  */

.navbar-s{
	padding: 1rem 0;
	font-size: 1.2rem;
}

.navbar{
	display: flex;
	justify-content: space-between;
	margin: 0 1rem;
}

.u-lists{
	list-style: none;
	display: flex;
	
}

.links{
	margin: 0 .5rem;
}

/* ==============================start section================  */

.start-s{
	background: url('/static/quiz/media/quiz-bg.jpg') no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-blend-mode: darken;
	position: relative;
	height: 90vh;
	width: 100vw;
}

.start-cont{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.start{
	font-size: 2.5rem;
	font-weight: 700;
}

.choices{
	position: relative;
}

.input{
	display: flex;
	flex-direction: column;
}
.input>*{
	margin: .3rem .5rem;
}

.label{
	display: flex;
	flex-direction: column;
}

.main-cq{
	width: 25rem;
	max-width: 25rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.question{
	display: block;
	margin: .5rem auto;
}

.ans-rdy-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}	





.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: firebrick;
	transition: .5s ease-in-out;	
}

.loading .load-text{
	color: white;
	transform: translateX(-2%) infinite;
}