@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
	--blue-500: #4f73df;
	--white-300: #f6f7fa;
	--black-400: #0D1117;
	--black-300: #333;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: url('/static/quiz/media/quiz-bg.jpg') no-repeat;
	background-size: 100vw 100vh;
	font-family: 'Roboto', sans-serif;
}

/* ===============navbar section==================  */

.navbar-s{
	padding: 1rem 0;
	font-size: 1.2rem;
}

.navbar{
	display: flex;
	justify-content: space-between;
	margin: 0 1rem;
}

.u-lists{
	list-style: none;
	display: flex;
	
}

.links{
	margin: 0 .5rem;
}

/* ==============================start section================  */

.start-s{
	background: url('/static/quiz/media/quiz-bg.jpg') no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-blend-mode: darken;
	position: relative;
	height: 90vh;
	width: 100vw;
}

.start-cont{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.start{
	font-size: 2.5rem;
	font-weight: 700;
}

.choices{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.input{
	display: flex;
	flex-direction: column;
}
.input>*{
	margin: .3rem .5rem;
}

.label{
	display: flex;
	justify-content: space-around;
	margin: .5rem 1rem;
	font-size: 1.2rem;
}
.inc-s > input{
	margin-right: .3rem;
}

.main-cq{
	background: var(--white-300);
	width: 50rem;
	padding: 2rem;
	max-width: 50rem;
	border-radius: .5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.question{
	display: block;
	margin: .5rem auto;
}

.ans-rdy-btn{
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}	

.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: firebrick;
	transition: .5s ease-in-out;	
}

.loading .load-text{
	color: white;
	transform: translateX(-2%) infinite;
}

.marks-c{
	display: flex;
	justify-content: space-around;
	padding-bottom: 1rem;
}


.buttons{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.answers{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.results {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem 0;
}

