a{
	text-decoration: none;
	color: currentColor;
}

.button{
	padding: .5rem 1rem;
	text-decoration: none;
	border-radius: .25em;
}

.primary{
	background: var(--blue-500);
	color: var(--white-300);
}

.secondary{
	background: var(--black-300);
	color: var(--white-300);
}

shadow{
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}